/* header */
header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dae1e6;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
  position: absolute;
  top: 0;
}

header > .inner {
  height: 160px;
  background-color: #fff;
}

/* sub-menu */
header .sub-menu {
  position: absolute;
  top: 15px;
  right: 0px;
}

header .sub-menu ul.menu {
  display: flex;
  align-items: center;
  height: 20px;
}

header .sub-menu ul.menu li {
  list-style-type: none;
  position: relative;
}

header .sub-menu ul.menu li a#naver-begin::after {
  content: ">";
  /* position: relative;
  top: 5px;
  left: 6px; */
  width: 20px;
  height: 20px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .sub-menu ul.menu li:nth-child(2)::after {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e4e8eb;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .sub-menu ul.menu li a {
  display: flex;
  font-size: 10px;
  padding: 3px 5px;
  align-items: center;
}

header .sub-menu ul.menu li a:hover {
  text-decoration: underline;
}

header .sub-menu ul.menu li a:hover > p {
  text-decoration: none;
}

header .sub-menu ul.menu li a p {
  font-size: 16px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin-left: 4px;
}

/* logo */
header a.logo {
  position: absolute;
  top: 49px;
  left: 0;
  margin: auto 0;
}

header div.search {
  border: 2px solid #19ce60;
  width: 586px;
  height: 56px;
  position: absolute;
  top: 50px;
  left: 230px;
  display: flex;
  align-items: center;
  padding: 0;
}

header div.search input {
  width: 474px;
  border: none;
  font-size: 20px;
  padding: 13px 15px;
  position: relative;
  top: 0px;
  left: 0px;
  outline: none;
}

header div.search button.keyboard {
  position: absolute;
  right: 100px;
  width: 36px;
  height: 56px;
  border: none;
  background-color: #fff;
  color: rgb(184, 183, 183);
}

header div.search button.arrow-dropdown {
  position: absolute;
  right: 80px;
  width: 22px;
  height: 56px;
  border: none;
  background-color: #fff;
  color: #15c654;
}

header div.search button.btn {
  border: none;
  width: 56px;
  height: 56px;
  position: absolute;
  box-sizing: border-box;
  top: 0px;
  right: 0px;
  line-height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

header div.search button.btn .search {
  font-size: 36px;
}

header nav {
  display: flex;
  align-content: center;
  border-top: 1px solid #dae1e6;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
}

header nav div.inner {
  height: 52px;
  box-sizing: border-box;
  padding: 11px;
  width: 1130px;
  padding-left: 0;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

header nav div.inner ul.menu {
  list-style-type: none;
  display: flex;
  font-weight: 900;
  padding-left: 0;
}

header nav div.inner ul.menu li {
  padding: 5px 7px;
}

header nav div.inner ul.menu li:nth-child(-n + 7) a {
  color: #03c75a;
}

header nav div.inner div.scroll-panel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
  height: inherit;
  width: 280px;
  word-spacing: 15px;
}

/* section */
section.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  top: 235px;
  /* background-color: ivory; */
}

section article.lr-article div {
  margin: 12px 0;
}

section article.lr-article > div:first-child {
  margin-top: 0;
}

section article.lr-article div.get-border {
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
  box-sizing: border-box;
}

section article#left-section {
  width: 750px;
}

section article#right-section {
  width: 350px;
}

/* left-section */
section article#left-section div#main-ads {
  width: 750px;
  height: 135px;
  background-image: url(https://ssl.pstatic.net/tveta/libs/1378/1378028/ce71e35cfed6aeb7378f_20220204155459014.jpg);
  background-size: cover;
}

section article#left-section div#news-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px 11px 15px;
}

section article#left-section div#news-header div#issue-part a#link-media {
  color: #404040;
  font-weight: 600;
  font-size: 13px;
}

section
  article#left-section
  div#news-header
  div#issue-part
  a:first-child::after {
  content: " >";
}

section article#left-section div#news-header div#issue-part a.issue {
  font-size: 13px;
  margin-left: 5px;
}

section article#left-section div#news-header div#direct-news-menu {
  font-size: 13px;
  font-weight: 600;
  word-spacing: 5px;
}

section
  article#left-section
  div#news-header
  div#direct-news-menu
  a:first-child {
  color: #3565c9;
  margin-right: 10px;
}

section
  article#left-section
  div#news-header
  div#direct-news-menu
  a:first-child::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #d3d3d3;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  right: 518px;
}

section article#left-section div#news-title {
  height: 55px;
  background-color: #fff;
  padding: 12px 0 16px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

section article#left-section div#news-title > div:first-child {
  font-weight: 600;
}

section article#left-section div#news-title > div:first-child a:first-child {
  margin-left: 30px;
}

section
  article#left-section
  div#news-title
  > div:first-child
  a:first-child::before {
  content: "";
  background-image: url(../img/newsStand.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 27px;
  height: 24px;
  position: absolute;
  top: 220px;
  left: 0px;
  z-index: 5;
}

section
  article#left-section
  div#news-title
  > div:first-child
  a:first-child::after {
  content: " >";
}

section article#left-section div#news-title > div:first-child a:nth-child(2) {
  font-weight: 500;
  font-size: 13px;
}

section
  article#left-section
  div#news-title
  > div:first-child
  a:nth-child(2)::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #d3d3d3;
  border-radius: 50%;
  position: absolute;
  top: 234px;
  left: 196px;
}

section article#left-section div#news-title > div:first-child a:last-child {
  font-size: 13px;
  margin-left: 15px;
}

section article#left-section div#news-title > div:last-child {
  word-spacing: 10px;
  color: #505050;
}

section
  article#left-section
  div#news-title
  > div:last-child
  a
  i.material-icons {
  font-size: 20px;
}

section
  article#left-section
  div#news-title
  > div:last-child
  a
  i.material-icons:focus {
  color: #4565c9;
}

section article#left-section div#news-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 260px;
  background-color: #fff;
  margin-top: 0;
  border-width: 1px 0;
}

section article#left-section div#news-list a.news-logo-list {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-basis: 125px;
  height: 65px;
  padding: 23px 0 22px;
  box-sizing: border-box;
  flex-grow: 1;
  border: 1px solid #dae1e6;
}
section article#left-section div#news-list a.news-logo-list img.news-logo {
  height: 20px;
  cursor: pointer;
}

section article#left-section div#theme-title {
  height: 35px;
  background-color: darkolivegreen;
}

section article#left-section div#theme-menu {
  height: 50px;
  background-color: khaki;
}

section article#left-section div#theme-post {
  height: 2370px;
  background-color: mediumslateblue;
}

/* right-section */
section article#right-section div#login-box {
  width: 350px;
  height: 135px;
  padding: 16px 16px 12px 17px;
}

section article#right-section div#login-box p#login-msg {
  color: grey;
  width: 70%;
  font-size: 0.9em;
}

section article#right-section div#login-box a.btn {
  display: flex;
  margin-top: 10px;
  padding: 15px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 800;
  align-content: center;
  justify-content: center;
  line-height: 16px;
}

section article#right-section div#login-box a.btn img#loginBtn-logo {
  height: 14px;
  margin-right: 5px;
}

section article#right-section div#login-box div#sub-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #505050;
  margin-top: 10px;
  height: 16px;
  font-size: 11px;
}

section article#right-section div#login-box div#sub-area .material-icons {
  color: rgb(175, 175, 175);
  font-size: 15px;
  margin-right: 3px;
}

section article#right-section div#login-box div#sub-area div {
  display: flex;
  justify-content: center;
  line-height: 16px;
}

section article#right-section div#login-box div#sub-area div a.login-sub:hover {
  text-decoration: underline;
}

section
  article#right-section
  div#login-box
  div#sub-area
  div#info-search
  a.login-sub:nth-child(2)::after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #d3d3d3;
  border-radius: 50%;
  position: absolute;
  top: 106px;
  right: 278px;
}

section
  article#right-section
  div#login-box
  div#sub-area
  div#info-search
  a.login-sub:nth-child(2) {
  padding-right: 7px;
}

section article#right-section div#card-news {
  height: 50px;
  background-color: dodgerblue;
}

section article#right-section div#right-ads {
  height: 200px;
  background-image: url(https://ssl.pstatic.net/tveta/libs/1376/1376839/323b501b2db2658b2226_20220120101533403.jpg);
  background-size: cover;
}

section article#right-section div#shop-header {
  height: 45px;
  background-color: tomato;
}

section article#right-section div#shop {
  height: 1495px;
  background-color: yellowgreen;
}
